/******************************
variables
******************************/
/******************************
mixins
******************************/
/******************************
basic styles
******************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #0b193c;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.container {
  width: 80%;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f91257;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

.logo span {
  color: #f91257;
}

h2 {
  font-size: 3rem;
  line-height: 1.1;
}

/******************************
nav
******************************/
nav {
  background: #09192c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 30px 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

nav ul li {
  margin-left: 50px;
}

nav .logo {
  font-size: 1.7rem;
}

/******************************
header
******************************/
.mainHeader {
  background: #0b193c;
  color: white;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mainHeader div {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  padding: 60px 0;
}

.mainHeader div img {
  width: 100%;
}

.mainHeader span {
  color: #f91257;
}

.mainHeader h1 {
  font-size: 4rem;
}

.mainHeader button {
  color: white;
  background: #f91257;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 20px 40px;
  border: none;
  margin-top: 30px;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 2px;
}

.mainHeader button:hover {
  background: #383c6e;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/******************************
unlimited
******************************/
.unlimited {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.unlimited article {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.unlimited article button {
  color: white;
  background: #f91257;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 20px 40px;
  border: none;
  margin-top: 30px;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 2px;
}

.unlimited article button:hover {
  background: #383c6e;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/******************************
howItWorks
******************************/
.howItWorks {
  background: #0b193c;
  color: white;
  padding: 80px 0;
}

.howItWorks .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.howItWorks .container div {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.howItWorks .container div i {
  color: #f91257;
  font-size: 4rem;
  margin: 20px 0;
}

.howItWorks .container div h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

/******************************
artists
******************************/
.artists, .concept {
  padding: 80px 0;
}

.artists article, .concept article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.artists article h2, .concept article h2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
}

.artists article p, .concept article p {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
}

.artists article div, .concept article div {
  text-align: center;
  margin-top: 40px;
}

.artists article div img, .concept article div img {
  width: 100%;
  border-radius: 40px;
}

/******************************
concept
******************************/
.concept article div {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
}

.concept article div img {
  border-radius: 50%;
}

/******************************
footer
******************************/
footer {
  background: #09192c;
  text-align: center;
  padding: 80px 0;
}

footer p {
  color: white;
  padding: 10px 0;
  font-size: 0.8rem;
}

footer a {
  margin: 0 20px;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
