/******************************
variables
******************************/
/******************************
mixins
******************************/
/******************************
basic styles
******************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #0b193c;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f91257;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

.logo span {
  color: #f91257;
}

/******************************
nav
******************************/
nav {
  background: #09192c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  margin-left: 50px;
}

nav .logo {
  font-size: 1.7rem;
}

/******************************
header
******************************/
.mainHeader {
  background: #0b193c;
  color: white;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainHeader div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  padding: 60px 0;
}

.mainHeader div img {
  width: 100%;
}

.mainHeader span {
  color: #f91257;
}

.mainHeader h1 {
  font-size: 4rem;
}

.mainHeader button {
  color: white;
  background: #f91257;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 20px 40px;
  border: none;
  margin-top: 30px;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 2px;
}

.mainHeader button:hover {
  background: #383c6e;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/******************************
footer
******************************/
footer {
  background: #09192c;
  text-align: center;
  padding: 80px 0;
}

footer p {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer a {
  margin: 0 20px;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */