/******************************
variables
******************************/
$navPlava: #09192c; 
$tamnoPlava: #0b193c;
$pink: #f91257;
$bela: white;
$svetloSiva: #f8f8f8;
$fontColor: #0b193c;
$violet: #383c6e;
$font: 16px;
$padding: 80px 0;
$fontFamily: 'Montserrat', sans-serif;
$transition: .3s ease;
/******************************
mixins
******************************/
@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn {
    color: $bela;
    background: $pink;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 20px 40px;
    border: none;
    margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 2px;
    &:hover {
        background: $violet;
        transition: $transition;
    }
}
/******************************
basic styles
******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: $font;
    color: $fontColor;
    font-family: $fontFamily;
    line-height: 1.5;
}
.container {
    width: 80%;
    margin: auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $bela;
    &:hover {
        color: $pink;
        transition: $transition;
    }
}
.logo {
    font-size: 2rem;
    font-weight: 600;
    span {
        color: $pink;
    }
}
h2 {
    font-size: 3rem;
    line-height: 1.1;
}
/******************************
nav
******************************/
nav {
    background: $navPlava;
    @include flex(space-between, center, row);
    padding: 30px 60px;
    ul {
        @include flex(space-between, center, row);
        li {
            margin-left: 50px;
        }
    }
    .logo {
        font-size: 1.7rem;
    }
}
/******************************
header
******************************/
.mainHeader {
    background: $tamnoPlava;
    color: $bela;
    padding: 0 60px;
    @include flex(space-between, center, row);
    div {
        flex: 0 0 48%;
        padding: 60px 0;
        img {
            width: 100%;
        }
    }
    span {
        color: $pink;
    }
    h1 {
        font-size: 4rem;
    }
    button {
        @include btn;
    }
}
/******************************
unlimited
******************************/
.unlimited {
    padding: $padding;
    @include flex(space-between, center, row);
    article {
        flex: 0 0 50%;
        button {
            @include btn;
        }
    }
}
/******************************
howItWorks
******************************/
.howItWorks {
    background: $tamnoPlava;
    color: $bela;
    padding: $padding;
    .container {
        @include flex(space-between, center, row);
        div {
            flex: 0 0 30%;
            i {
                color: $pink;
                font-size: 4rem;
                margin: 20px 0;
            }
            h3  {
                font-size: 1.7rem;
                margin-bottom: 10px;
            }
        }
    }
}
/******************************
artists
******************************/
.artists {
    padding: $padding;
    article {
        @include flex(space-between, center, row);
        h2 {
            flex: 0 0 48%;
        }
        p {
            flex: 0 0 48%;
        }
        div {
            text-align: center;
            margin-top: 40px;
            img {
                width: 100%;
                border-radius: 40px;
            }
        }
    }
}
/******************************
subscription
******************************/
.subscription {
    background: $tamnoPlava;
    padding: $padding;
    color: $bela;
    .container {
        @include flex(space-between, center, row);
        div:first-child {
            flex: 0 0 48%;
            h4 {
                color: $pink;
                padding: 15px 0;
                font-size: 1.8rem;
            }
            button {
                @include btn;
            }
        }
        div:last-child {
            flex: 0 0 48%;
            background: rgba($bela, .1);
            border-radius: 20px;
            padding: 30px;
            @include flex(center, center, row);
            ul {
                line-height: 3;
                li::before {
                    font-family: "Font Awesome 5 Free";
                    content: "\f058";
                    margin-right: 10px;
                    color: $pink;
                }
            }
        }
    }
}
/******************************
concept
******************************/
.concept {
    @extend .artists;
    article {
        div {
            flex: 0 0 15%;
            img {
                border-radius: 50%;
            }
        }
    }
}
/******************************
footer
******************************/
footer {
    background: $navPlava;
    text-align: center;
    padding: $padding;
    p {
        color: $bela;
        padding: 10px 0;
        font-size: .8rem;
    }
    a {
        margin: 0 20px;
        font-size: 1.2rem;
    }
}
/******************************
responsive
******************************/
@media (max-width:768px) {
    nav {
        padding: 30px 0;
        ul {
            @include flex(space-between, center, row);
            margin-top: 15px;
            li {
                margin-left: 40px;
            }
        }
        .logo {
            font-size: 1.7rem;
            margin: auto;
        }
    }
    .mainHeader {
        padding: 0 50px;
        div {
            flex: 0 0 100%;
            padding: 50px 0;
        }
        h1 {
            font-size: 1.9rem;
            margin-bottom: 10px;
        }
    }
    .unlimited {
        article {
            flex: 0 0 100%;
            h2 {
                font-size: 2rem;
                margin-bottom: 15px;
            }
        }
    }
    .howItWorks {
        .container {
            div {
                flex: 0 0 100%;
                i {
                    font-size: 2rem;
                    margin: 20px 0;
                }
                h3  {
                    font-size: 1.1rem;
                    margin-bottom: 10px;
                }
            }
        }
    }
}