/******************************
variables
******************************/
$navPlava: #09192c; 
$tamnoPlava: #0b193c;
$pink: #f91257;
$bela: white;
$svetloSiva: #f8f8f8;
$fontColor: #0b193c;
$violet: #383c6e;
$font: 16px;
$padding: 80px 0;
$fontFamily: 'Montserrat', sans-serif;
$transition: .3s ease;
/******************************
mixins
******************************/
@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn {
    color: $bela;
    background: $pink;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 20px 40px;
    border: none;
    margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 2px;
    &:hover {
        background: $violet;
        transition: $transition;
    }
}
/******************************
basic styles
******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: $font;
    color: $fontColor;
    font-family: $fontFamily;
    line-height: 1.5;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $bela;
    &:hover {
        color: $pink;
        transition: $transition;
    }
}
.logo {
    font-size: 2rem;
    font-weight: 600;
    span {
        color: $pink;
    }
}
/******************************
nav
******************************/
nav {
    background: $navPlava;
    @include flex(space-between, center, row);
    padding: 30px 60px;
    ul {
        @include flex(space-between, center, row);
        li {
            margin-left: 50px;
        }
    }
    .logo {
        font-size: 1.7rem;
    }
}
/******************************
header
******************************/
.mainHeader {
    background: $tamnoPlava;
    color: $bela;
    padding: 0 60px;
    @include flex(space-between, center, row);
    div {
        flex: 0 0 48%;
        padding: 60px 0;
        img {
            width: 100%;
        }
    }
    span {
        color: $pink;
    }
    h1 {
        font-size: 4rem;
    }
    button {
        @include btn;
    }
}
/******************************
footer
******************************/
footer {
    background: $navPlava;
    text-align: center;
    padding: $padding;
    p {
        color: $bela;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    a {
        margin: 0 20px;
        font-size: 1.2rem;
    }
}
